fastapi==0.111.0
uvicorn[standard]==0.29.0
celery[redis]==5.3.6
redis==5.0.4
python-multipart==0.0.9
ffmpeg-python==0.2.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
python-dotenv==1.0.1
pymongo

# Google Auth and API Client
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-oauthlib==1.3.1
google-auth-httplib2==0.2.0

# Azure Storage
azure-storage-blob==12.19.1